// Mixins Here
.signUp(@ebony-clay, @wild-sand){
    display: flex;
    width:110px;
    height: 30px;
    background-color: @ebony-clay;
    border-radius: 8px;
    font-size: 2rem;
    color: @wild-sand;
    justify-content: center;
    padding-top:5px;   
    &:hover{
        background-color: @river-bend;
        color: @ebony-clay; 
        
    }

}
.navStyle{
    color: #22283B;
    background: #f4f4f4;
    padding: 20px;
    border: 1px double #e0e0e0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}